.post__top {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 10px;
}

.post__avatar {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 100%;
}
.post__avatar img {
  width: 100%;
  height: 100%;
}

.post {
  padding: 10px 0;
  margin: 24px 0;
  box-shadow: 2px 2px 14px 0 rgb(203, 203, 203);
  border-radius: 10px;
}

.post__center {
  margin: 20px 0;
}
.post__desc {
  margin-bottom: 20px;
  font-size: 16px;
  margin-left: 10px;
}

.post__bottom {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  margin-bottom: 10px;
}
.post__interact {
  display: flex;
  align-items: center;
  gap: 10px;
}
.post__interact i {
  font-size: 20px;
  color: var(--main-color);
}
